.comment#post-id{data: {post_id: @post.id}}
  .post_comment
    %h1 コメント一覧
    .comments-container

.container
  .btn-secondary.show-comment-form
    コメントをする
  .comment-text-area.hidden
    = text_area_tag :comment_content, '', class: 'sm'
    .btn-secondary.add-comment-button
      コメントをする

= javascript_pack_tag 'post'