.comment#post-id{data: {post_id: @post.id}}
  .post_comment
    %h1 コメント一覧
    -# - @comments.each do |comment|
    -#   = image_tag comment.user.avatar_image
    -#   %p= comment.user.display_name
    -#   %p= comment.content
    .comments-container

  .post_add_comment
    =link_to 'コメントを追加', new_post_comment_path(@post)
    

-# .container
-#   .btn-secondary.show-comment-form
-#     コメントをする
-#   .comment-text-area.hidden
-#     = text_area_tag :comment_content, '', class: 'sm'
-#     .btn-secondary.add-comment-button
-#       コメントをする

-# = javascript_pack_tag 'post'