@import 'variables';
@import 'post';
@import 'actiontext';
@import 'trix/dist/trix.css';
@import 'profile';
@import 'header';
@import 'form';


.clear::after {
  content: "";
  clear: both;
  display: block;
}

a {
  text-decoration: none;
  color:  #333A42;
}

a:hover {
  opacity: 0.7;
}

.hidden {
  display: none;
}


