.comment {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;

  &_top {
    overflow: hidden;

    margin-top: 30px;

    &_back {
      float: left;
      margin-left: 15px;
    }

    &_status {
      float: right;
      margin-right: 190px;

      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
    }
  }

  &_body {
    overflow: hidden;
    margin-top: 60px;

    &_left {
      float: left;

      &_avatar {
        margin-left: 15px;
      }
    }

    &_right {
      float: right;
      margin-top: 10px;
      width: 350px;
      height: 180px;

      &_name {
        margin-right: 210px;

        font-size: 20px;
        line-height: 24px;
      }

      &_content {
        margin-top: 20px;

        word-break: break-all;
        font-size: 16px;
        line-height: 20px;
        color: #9B9B9B;

      }
    }
  }

  // &_reply {
  //   margin-top: 25px;
  //   margin-left: 80px;
  //   overflow: hidden;

  //   &_left {
  //     float: left;
  //     img {
  //       width: 65px;
  //       height: 65px;
  //     }
  //   }

  //   &_right {
  //     float: right;
  //     margin-right: 250px;

  //     &_name {
  //       font-size: 20px;
  //     }

  //     &_content{
  //       margin-top: 15px;

  //       line-height: 20px;
  //       color: #9B9B9B;       
  //     }

  //     &_add {
  //       margin-top: 5px;

  //       font-size: 5px;
  //     }
  //   }
  // }
}