.header_top {
  overflow: hidden;

  &_left {
    float: left;

    padding-left: 30px;
  }

  &_right {
    float: right;

    padding-right: 15px;
  }
}

.header_bottom {
  padding-left: 15px;
  padding-top: 15px;
}