.post_avatar {

  width: 30px;
  height: 30px;
  left: 17px;
  top: 109px;

}

.post_user-name {
  width: 64px;
  height: 23px;
  left: 55px;
  top: 106px;

  margin-left: 100px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;

  color: #333333;

}

.post_time {
  width: 72px;
  height: 20px;
  margin-left: 100px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;

  color: #9E9E9E;
}

.post_img {
  width: 198px;
  height: 225px;
  left: 17px;
  top: 157px;
}